body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #afd7e9;
}
.top-heading {
    position: fixed; 
    top: 0;
    width: 100%;
    background-color: #91b1d2;
    color: rgb(19, 73, 104);
    text-align: center;
    padding: 20px 0;
    font-size:94px;
    z-index: 1;
}
.stopwatch {
    text-align: center;
    background-color: #acd3f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
    font-size: 18px;
}
h1 {
    text-align: center;
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}


